.login{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: center/cover url('../../assets/login.jpg');
  .login-container{
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 50px rgb(0 0 0 /10%);
  }
  .login-logo{
    width: 200px;
    height: 100px;
    display: flex;
    margin: 0 auto 20px;
  }
  .login-checkbox-label{
    color: #1890ff;
  }
}

